{% extends "base.html" %}

{% block title  %} Entrar {% endblock %}

{% block content %}
    <h1> Entrar </h1>
    {% if form.errors %}
        <p> Seu usuário ou senha está incorreto.
            Por favor, tente novamente
        </p>
    {% else %}
        <p> Por favor, use o seguinte formulario de login: </p>
    {% endif %}

    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"> 
            <p> <input type="submit" value="Entrar"></p>
        </form>
    
        <p> <a href="{% url 'password_reset' %}"> Esqueceu sua senha? </a> </p>
        <p> <a href="{% url 'registrar' %}"> Criar uma nova conta </a> </p>
    </div>

{% endblock%}